.pokedex {
    height: 500px;
    width: 700px;
    border-radius: 10px;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-end;
    gap: 3px;
}
.logo {
    width: 150px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.pokedexLeft {
    background-color: crimson;
    height: 100%;
    width: 50%;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    border-bottom: 6px solid rgba(0, 0, 0, 0.3);
}
.screw {
    height: 10px;
    width: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.3);
}
.b1 {
    position: absolute;
    top: 10px;
    left: 10px;
}
.b2 {
    position: absolute;
    top: 10px;
    right: calc(50% + 10px);
}
.b3 {
    position: absolute;
    bottom: 15px;
    left: 10px;
}
.b4 {
    position: absolute;
    bottom: 15px;
    right: calc(50% + 20px);
}
.b5 {
    position: absolute;
    top: 80px;
    left: 10px;
}
.b6 {
    position: absolute;
    top: 80px;
    right: calc(50% + 10px);
}
.b7 {
    position: absolute;
    top: 110px;
    right: 10px;
}
.b8 {
    position: absolute;
    bottom: 15px;
    right: 10px;
}
.b9 {
    position: absolute;
    bottom: 15px;
    right: calc(50% - 35px);
}
.b10 {
    position: absolute;
    top: 110px;
    right: calc(50% - 35px);
}

.pokedexRight {
    background-color: crimson;
    height: 80%;
    width: 50%;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    border-bottom: 6px solid rgba(0, 0, 0, 0.3);
}
.leftTop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100px;
    width: 100%;
    border-radius: 5px 5px 10px 10px;
    background-image: linear-gradient(145deg , rgb(255, 50, 91), rgb(197, 0, 39));
    box-shadow: 0px 0px 10px black;
}
.found {
    background-color: rgb(33, 33, 33);
    padding: 10px;
    width: 250px;
    font-size: 20px;
    color: red;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 5px;
}
.found.active {
    color: rgb(0, 196, 0);
    animation: onTxt 0.1s ease forwards alternate  6;
}
@keyframes on {
    0% {
        background-color: rgb(40, 231, 40);
        box-shadow: 0px 0px 20px rgb(145, 255, 145);
    }
    100% {
        background-color: rgb(0, 196, 0);
        box-shadow: 0px 0px 5px rgb(145, 255, 145);
    }
}
@keyframes onTxt {
    0% {
        color: rgb(40, 231, 40);
    }
    100% {
        color: rgb(0, 196, 0);
    }
}
.data {
    background-color: rgb(184, 0, 0);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 0px 2px rgba(0, 0, 0, 0.75);
    box-sizing: content-box;
}
.data.active {
    background-color: rgb(54, 228, 49);
    animation: on 0.1s ease forwards alternate  6;
}
.dataLight {
    background-color: rgba(255, 255, 255, 0.75);
    width: 15px;
    height: 18px;
    transform: rotate(25deg);
    border-radius: 50%;
    position: relative;
    left: 10px;
    top: 10px;
}
.pokedexMilieu {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    height: 75%;
    width: 30px;
    border-radius: 6px;
    background-image: linear-gradient(91deg, rgb(255, 50, 91), rgb(166, 0, 33));
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    border-bottom: 5px solid rgba(0, 0, 0, 0.4);
    border-top: 3px solid rgba(255, 255, 255, 0.4);
}
.barreHorizontale {
    width: 100%;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.5), -10px 2px 8px rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 5px 5px;
}
.barreDiv {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.leftMid {
    background-image: linear-gradient(145deg , rgb(90, 90, 90), rgb(33, 33, 33));
    height: 250px;
    width: 85%;
    clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100% 100%, 20% 100%, 0% 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 3px 8px 10px rgba(0, 0, 0, 0.5);
    transform: translateX(-5px);
}
.leftMid img {
    height: 90%;
    width: 90%;
    object-fit: contain;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
}
.pokemonName {
    font-size: 26px;
}
.leftBottom {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.divBtns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#prev {
    fill: black;
}
#next {
    fill: black;
}
.btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    border-bottom: 4px solid rgba(0, 0, 0, 0.5);
    transition: 0.1s ease;
    box-sizing: content-box;
    border-radius: 10px;
}
.btn:active {
    border-bottom: 0px solid black;
}
.sprite {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}
.searchBtn {
    cursor: pointer;
    background-color: white;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.searchBtn:hover {
    background-color: rgb(238, 238, 238);
}
.idBtn {
    cursor: pointer;
    background-color: white;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.idBtn:hover {
    background-color: rgb(238, 238, 238);
}
.divSearch {
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-radius: 5px;
    transform: translateX(5px);
    position: relative;
}
.allBtn {
    cursor: pointer;
    background-color: white;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.allBtn:hover {
    background-color: rgb(238, 238, 238);
}